[submodule "vim/vim/bundle/Vundle.vim"]
	path = vim/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "wp/wpcs"]
	path = wp/wpcs
	url = https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards.git
[submodule "wp/dev"]
	path = wp/dev
	url = git://develop.git.wordpress.org/
[submodule "php/phpcs"]
	path = php/phpcs
	url = https://github.com/squizlabs/PHP_CodeSniffer.git
[submodule "php/code_sniffer_standards/PHPCompatibility"]
	path = php/code_sniffer_standards/PHPCompatibility
	url = https://github.com/wimg/PHPCompatibility.git
