[user]
	name = Shiva Poudel
	email = 3774827+shivapoudel@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	autocrlf = false
	ignorecase = false
	pager = less -x1,5
	editor = \"C:\\Users\\shiva\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	excludesfile = ~/.gitignore_global
[push]
	default = matching
[fetch]
	prune = true
[clean]
	requireForce = false
[color]
	# ui = true is a superset of all the more specific color options
	# as documented at http://book.git-scm.com/5_customizing_git.html
	# When set to always, always use colors in all git commands which are capable of colored output.
	# When false, never. When set to true or auto, use colors only when the output is to the terminal.
	# When more specific variables of color.* are set, they always take precedence over this setting.
	# Defaults to false.
	ui = auto
	# diff = auto
	# branch = auto
	# status = auto
[color "branch"]
	local = yellow
	remote = green
	current = cyan
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = red bold strike
	untracked = cyan
	branch = yellow black bold ul
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[alias]
	amend = commit --amend --no-edit
	# Amend commit and force push into current branch.
	push-amend-commit = "!f(){\
		local CURRENT=$(git branch --show-current);\
		git add . && git amend && git push origin "${CURRENT}" -f;\
	}; f"
	# Delete all local branches but the primary branch and the current one.
	delete-all-branches = "!f(){\
		local BRANCH=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@');\
		git branch | grep -v "${BRANCH}" | grep -v ^* | xargs git branch -D;\
	}; f"
