[user]
	name = Shiva Poudel
	email = 3774827+shivapoudel@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	autocrlf = input
	pager = less -F -X
	editor = \"C:\\Users\\shiva\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[fetch]
	prune = true
[merge]
	tool = code
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[color]
	ui = auto
[color "branch"]
	local = yellow bold
	remote = green
	current = cyan bold
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green
	changed = red bold
	untracked = cyan
	branch = yellow black bold
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	amend = commit --amend --no-edit
	# Amend commit and force push into current branch.
	push-amend-commit = "!f(){\
		local CURRENT=$(git branch --show-current);\
		git add . && git amend && git push origin "${CURRENT}" -f;\
	}; f"
	# Delete all local branches but the primary branch and the current one.
	delete-all-branches = "!f(){\
		local BRANCH=$(git symbolic-ref refs/remotes/origin/HEAD | sed 's@^refs/remotes/origin/@@');\
		git branch | grep -v "${BRANCH}" | grep -v ^* | xargs git branch -D;\
	}; f"
